body{
	background-color:#E5E5E5;
	}
	
td{
padding:8px;	
}
.whitebg {
		background-color : white;
}

.upperText{
	
	font-size:18px;font-weight:bolder;
}

.lowerText{
font-size:16px;color:#FF0004;font-weight:bold;	
}